html{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.traefik-form-url{
  margin-top: 15px;
}

#joinjs-wrapper{
  width: auto;
  height: auto;
  margin: auto;
}

.block{
  font-size: 12px;
  word-break: break-word;
  padding:5px;
}

.block .name{
  font-weight: bold;
  margin: -5px;
  padding: 5px;
  border-bottom: 1px solid #333;
  margin-bottom: 5px;
}

.backend .name{
  background-color: rgba(100, 100, 255, 0.4);
}

.backend .urls{
  padding-left:15px;
  list-style-type: circle;
}

.frontend .name{
  background-color: rgba(100, 255,100, 0.4);
}

.frontend .routes{
  padding-left:15px;
  list-style-type: circle;
}

.traefik-provider, .traefik-frontend{
  margin-bottom: 15px;
}

.traefik-frontend{
  font-size: 0.9em;
}

.traefik-link{
  background-image: url(images/arrow.png);
  background-size: 100% 46px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 53px;
}